body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.ball {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 50%;
  background: conic-gradient(red, orange, yellow, green, blue);
  /* animation-iteration-count: infinite; */
  /* animation-name: slide; */
  /* animation-duration: 1s; */
  /* animation-direction: alternate; */
  /* animation-fill-mode: both; */
  /* animation-delay: 1s; */
  /* animation-timing-function: ease-in-out; */ 
  /* animation-play-state: paused; */

  /* animation: slide 1s alternate infinite forwards 2s ease-in-out; */
  animation: slide 1s ease-in-out 2s forwards alternate infinite;
}

body:hover .ball {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateY(0%) rotate(120deg);
  }

  33% {
    transform: translateY(350px) rotate(240deg);
  }

  66% {
    transform: translate(350px, 350px) rotate(360deg);
  }

  100% {
    transform: translate(350px, 0%) rotate(90deg);
  }
  /* to{
    transform: translateY(350px);
  } */
  
}

