#container {
  display: flex;
  border: 2px solid black;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  height: 90vh;
  /* justify-content: space-evenly; */
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
}

#box1 {
  background-color: lightcoral;
}

#box2 {
  background-color: lightgreen;
}

#box3 {
  background-color: lightskyblue;
}

#box4 {
  background-color: lightpink;
}
