.box {
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  width: 150px;
  height: 150px;
  background-color: red;
  font-size: 24px;
  color: azure;
  text-align: center;
  border: solid black;
  border-width: 10px 5px;
}

body:hover .box {
  /* transform: translate(100px) rotate(120deg); */
  transform: rotate(120deg) translate(100px) scale(0.5);
}
