html {
  font-size: 20px;
}
#div1 {
  width: 100vw;
  height: 300px;
  background-color: crimson;
}

img {
  max-width: 100%;
  min-width: 400px;
}

#text {
  column-count: 1;
  width: 90%;
  margin: auto;
}

p {
  margin: 0;
}

h1 {
  font-size: 6vw;
}

@media screen and (min-width: 480px) {
  #div1 {
    width: 80%;
    background-color: burlywood;
  }

  #text {
    column-count: 2;
  }
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 780px) {
  #div1 {
    width: 60%;
    background-color: aquamarine;
  }

  #text {
    column-count: 3;
  }

  h1 {
    font-size: 4rem;
  }
}

/* @media screen and (max-width: 780px) and (min-width:680px){ */
/* @media screen and (680px <= width<= 780px) {
  #div1 {
    background-color: aqua;
  }

  #text {
    column-count: 2;
  }
}

@media screen and (max-width: 540px) {
  #div1 {
    background-color: blueviolet;
  }

  #text {
    column-count: 1;
  }
} */
